$primary-black: #181818;
$primary-white: #f0f0f0;
$white: #fff;

$primary-green: #005F5F;
$dark-primary-green: #006868;
$light-primary-green: #005757;
$primary-orange: #BE6013;
$primary-red: #EE1D52;
$primary-yellow: #FFA300;

$light-black: #00000075;
$light-white-shadow: #fcfcfc;
$med-white: #f8f8f8;
$description-black: #585858;
$title-black: #3a3a3a;

$black-overlay-1: #000000cf;
$black-overlay-2: #00000036;
$black-shadow: #7e7e7e50;

$nav-bg: #fbfbfb;