<div class="main">
  <div class="parent">
    <div class="userChart chart p-3 m-1 bg-set">
      <h2>New User and Business</h2>
      <div class="d-grid chart gap-3 m-1">
        <canvas baseChart class="barChart m-auto d-block " [data]="barChartData" [options]="barChartOptions"
          [plugins]="barChartPlugins" [legend]="barChartLegend" [type]="'bar'">
        </canvas>

        <canvas baseChart class="pieChart" [type]="'pie'" [datasets]="pieChartDatasets" [labels]="pieChartLabels"
          [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
    <div class="row ">
      @for (item of counts; track $index) {
      <div class="col-lg-3 col-md-6">
        <div class="card bg-set ">
          <div class="card-body">
            <div class="d-flex align-items-center gap-2">
              <div class="card-icon text-white rounded-circle p-1">
                <i [class]="'bi '+ item?.icon"></i>
              </div>
              <div class="ms-3 content">
                <h3 class="mb-0">{{item.count}}</h3>
                <p class="text-primary mb-1">{{item.title}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
