@import '../../../assets/style/variable.scss';

.main {
  background: rgb(0, 152, 152);
  background: url('../../../assets/login-aaabstract.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;



  .logo {
    width: 200px;
    // margin: 0 auto;
    padding: 10px;
    background-color: $primary-white;
    border-bottom-right-radius: 30px;
    margin-bottom: 10%;
  }

  .form_section {

    .content {
      h1 {
        font-size: 30px;
        font-weight: 500;
      }

      p {
        font-size: 15px;
      }

      margin-bottom: 5px;
    }
  }

  .eyeIcon {
    color: $light-primary-green;
    cursor: pointer;
  }

  .loginBtn {
    background-color: $light-primary-green;
    border: 1px solid $primary-green;
    color: $primary-white;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.2s ease-in;

    &:hover {
      background-color: $primary-green;
    }
  }

  .reset {
    color: $primary-white;
    text-align: right;
    opacity: 0.7;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

}