<div class="main">
  <div class="left">
    <div class="logo">
      <img src="../../../assets/mmj_logo.png" alt="logo" class="w-100" appLazyLoadImages>
    </div>
    <div class="form_section">
    <form class="d-flex flex-column gap-2 w-50 m-auto"  [formGroup]="loginForm"  (ngSubmit)="login()">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email" required [errorStateMatcher]="matcher">
        @if (loginForm.get('email')?.hasError('required')) {

          <mat-error>
            Email is <strong>required</strong>
          </mat-error>
        }
        @if (loginForm.get('email')?.hasError('email') && !loginForm.get('email')?.hasError('required')) {

          <mat-error >
            Please enter a valid email address
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required [errorStateMatcher]="matcher">
        <mat-icon class="eyeIcon" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        @if (loginForm.get('password')?.hasError('required')) {
          <mat-error>
            Password is <strong>required</strong>
          </mat-error>
        }
        @if (loginForm.get('password')?.hasError('minlength') && !loginForm.get('password')?.hasError('required')) {
          <mat-error>
            Please enter a valid password
          </mat-error>
        }
      </mat-form-field>
  <button type="submit" class="btn  m-auto w-100 loginBtn" [disabled]="loginForm.status !== 'VALID'">Login Now</button>
</form>
</div>

  </div>
  <div class="right">
    <h1>Welcome admin</h1>

  </div>
</div>
