<div class="card">
  <div class="card-body">


    <mat-paginator [length]="total"
    [pageSize]="pageSize" aria-label="Select page"  (page)="onPageChange($event)">
    </mat-paginator>
    <table class="table table-hover">
      <thead>
        @for (item of displayedColumns; track $index) {
        <th class="p-2 ">{{item}}</th>
        }
      </thead>
      <tbody>
        @for (item of dataSource; track $index) {
        <tr>
          <!-- watever keys passed from the object, itll be displayed no need to item.key  -->
          @for (key of objectKeys(item); track $index) {
            @if (key !== 'status' && key !== 'id' && key !== 'readonly') {
              <td>{{item[key]}}</td>
            }
          }
          <td>
            <button matTooltip="View" class="btn btn-rounder btn-outline"
              [ngClass]="{'status_active': item.status==true, 'status_deactive': item.status==false}"
              (click)="serviceDetail(item)"><i class="bi bi-eye"></i></button>
            <!-- @if (!item.status) { -->
            <!-- <button class="btn btn-rounder btn-outline btn-danger p-1"> <i class="bi bi-ban"></i> </button> -->
            <!-- }@else { -->
            <button [matTooltip]="item.status ? 'Active':'In-Active'" class="btn btn-rounder btn-outline"
              [ngClass]="{'status_active': item.status==true, 'status_deactive': item.status==false}"> <i
                class="bi bi-activity"></i> </button>
            <button matTooltip="Edit" class="btn btn-rounder btn-outline"
              [ngClass]="{'status_active': item.status==true, 'status_deactive': item.status==false}" (click)="editRecord(item)"> <i
                class="bi bi-pen"></i> </button>
            <mat-slide-toggle [matTooltip]="item.status ?'Deactivate':'Activate'" [checked]="item.status"
              (change)="onStatusChange(item, $event)"></mat-slide-toggle>

            <!-- } -->
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
