<div class="main">
  <div class="content">
    <div class=" d-flex justify-content-between">
    <div class="left">
      <h1>Job</h1>
    </div>
    <div class="right">
      <div class="d-flex gap-2">
        <button class="btn p-2 addBtn" (click)="openJobDialog()"> <i class="bi bi-envelope-fill"></i> Add Jobs</button>
        <button class="btn p-2 addBtn"><i class="bi bi-layout-text-window"></i> Export List</button>
        <button class="btn p-2 addBtn"><i class="bi bi-arrow-clockwise"></i> Refresh records</button>
      </div>
      </div>
    </div>
    <app-list-filter [filterOption]="foods"></app-list-filter>
  </div>


  <app-table [displayedColumns]="displayedColumns" [dataSource]="dataSource" [total]="totalJobs"
  [pageSize]="pageSize"  (pageChange)="onPageChange($event)" (editRecordData)="editRecord($event)" (statusUpdate)="editStatus($event)"></app-table>

</div>
