@import "../assets/style/variable.scss";

.top {
  nav {
    padding: 10px;
    background-color: $nav-bg;

    .logo {
      padding-left: 10px;
      width: 120px;
    }

    .logout {
      .btn {
        background-color: $primary-green;
        border-radius: 5px;
        color: $primary-white;
        padding: 3px 10px;

        &:hover {
          box-shadow: 0.5px 0.5px 5px $primary-red;
        }
      }
    }
  }
}

.leftNavSection {
  background-color: $nav-bg;
  padding: 0;
  padding-top: 30px;
}

.nav-link {
  i {
    font-size: 17px !important;
  }

  cursor: pointer;
}

.nav-pills {
  gap: 20px;
}

.routeSection {
  // height: 90vh;
  // overflow: auto;
}

.active {
  background-color: $dark-primary-green !important;
  color: $nav-bg !important;
}