<div class="filter">
  <div class="search">

    <div class="row g-1 align-items-center">
      <div class="col-auto row">
        <div class="col-auto">
          <mat-form-field class="example-full-width">
            <mat-label>Search Job</mat-label>
            <input matInput placeholder="Search Job" (input)="onSearch($event)">
          </mat-form-field>
        </div>
      </div>
      <div class="col-auto row">
        <mat-form-field>
          <mat-label>Filter by</mat-label>
          <mat-select (selectionChange)="onSelect($event)">
            @for (filter of filterOption; track filter) {
            <mat-option [value]="filter.value">{{filter.label}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-auto row">

      </div>

    </div>
  </div>
</div>
